:root {
  --color1: #565656;
  --color2: #717171;
  --color3: #dddddd;
  --color4: black;
  --color5: #f7f7f7;
  --color6: #ff385c;
  --background-color-footer: rgb(247, 247, 247);
  --font-family-web: Arial;
  --font-weight-title: 600;
  --font-weight-para: 400;
  --font-size-title: 18px;
  --font-size-para: 16px;
  --line-height-title: 26px;
  --line-height-para: 18px;
}
